// .story-container{
//     position: relative;
//     .magnifier{
//         background-image: url('../../assets/mag.svg');
//         background-size:cover;
//         background-position: center;
//         position: absolute;
//         padding:10px;
//         height:60%;
//         width:60%;
//         // animation: mag 1s linear infinite;
//         z-index: 2;
//     }
    
//     // @keyframes mag{
//     //     0%{
//     //         transform: translateX(10px);
//     //     }
//     //     50%{
//     //         transform: translateY(10px);
//     //     }
//     //     100%{
//     //         transform: translateX(0px);
//     //     }
//     // }
// }

// .magnifier-container{
//     width:100%;
//     height: auto;
//     background-image: url('../../assets/mag.png');
//     background-size:cover;
//     background-position: center;
//     position: relative;

//     .story-container{
//         top:50%;
//         left:50%;
//         transform: translate(-50%,-50%);      
//         height: 90%;
//         width:90%;
//         position: absolute;
//     }

    
// }

.task-page{

    overflow-x:hidden;

    .task-page-heading{
        justify-content: flex-end;
        font-size: 2em;
    }
    .task-images{
        display: flex;
        flex-wrap:wrap;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-image:url('../../assets/board.png');
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        
        .task-image-container{
            position: relative;
            
            &:nth-child(1)
            {
                transform: rotate(-6deg);
            }

            &:nth-child(2)
            {
                transform: rotate(-6deg) translate(20px);

            }

            &:nth-child(3)
            {
                transform: rotate(-6deg);
            }
            // .task-image-container::after{
            //     content:'hello';
            // }
        }
        
    }
}
.hero-image-container{

    display: flex;
    justify-content: center;

    .task-images{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .hero-image {
        background-image: url('../../assets/mag.svg');
        height:90vmin;
        width:90vmin;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        scrollbar-width: 0px;
    
        .hero-text {
            text-align: center;
            position: absolute;
            overflow-y: scroll;
            height:50%;
            width:50%;
            top: 45%;
            left: 45%;
            transform: translate(-50%, -50%);
            color: black;
            z-index:5;
        //    -ms-overflow-style: none;  /* IE and Edge */
        //     scrollbar-width: none;  /* Firefox */
    
        //     &::-webkit-scrollbar {
        //         display: none;
        //     }
            
          }
        
        
      }
      

}

.task-content-container{
    background:
    radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
    linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
    linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
    linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
    linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
