
.task-page{
    overflow-x:hidden; 
    background-image:url('../../assets/page6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height:100vh;
    color:black;

    .inside-book{
        .task-page-heading{
            justify-content: flex-end;
        }
        background-color:rgba(255,0,0,0.6);
        height:60%;
        width:60%;
        text-align:justify;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px;
        
    }

    
}
